:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(228, 85%, 63%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --body-color: hsl(228, 100%, 99%);
    --shadow-color: hsla(228, 80%, 4%, .1);
    --input--color:hsl(228, 100%, 99%);
    --secshen--color:hsl(228deg 21.74% 95.49%);
    --border--color:hsl(0, 0%, 89%);

}



/*=============== VARIABLES DARK THEME ===============*/
body.dark-theme {
    --first-color: hsl(228, 70%, 63%);
    --title-color: hsl(228, 18%, 96%);
    --text-color: hsl(228, 12%, 61%);
    --body-color: hsl(228, 24%, 16%);
    --shadow-color: hsla(228, 80%, 4%, .3);
    --input--color:hsl(228, 24%, 16%);
    --secshen--color: hsl(228deg 24.08% 17.39%);
    --border--color:hsl(0, 0%, 0%);
}



.Get_user{
    padding: 10px 0px;
}
.Get_user .h2_s{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Get_user .all_user{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Get_user .all_user .user1{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: var(--body-color);
    box-shadow: 0 2px 24px var(--shadow-color);
    border: 1px solid var(--border--color);
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.Get_user .all_user .user1 div{
    height: 50px;
    width:50px ;
    border-radius: 50%;
}

.Get_user .all_user .user1 div img{
    height: 100%;
    width:100% ;
    border-radius: 50%;
}

.Get_user .all_user .user1 p svg{
    font-size: 20px;
    cursor: pointer;
}

.Get_user .all_user .user1 p svg:hover{
    color: #F44336;
}